# Introduction To Python

## Questions

**What is a programming language?**

Programming language is used to communicate with the computer

**What is an IDE?**

IDE stands for interactive development environment.It provides an environment to develop programs

**What IDE we are using?**

We are using jupyter notebook

**What is a compiler and interpriter?**

A compiler is a translator which translate the whole program at once and a interpriter is a translator which translate one line of code at once

## My first code

In [5]:
print("Hello World")

Hello World

# Different types of Data type

**What are data types?**

Data types are the catagories of knowledge

**What is knowledge?**

Data input to the computer is knowledge for it.And it divides it into different catagories

**Name the Data type in Python?**

Int,Float

Str

List,tuple

dict

bool

# Shortcut Keys

. **Shortcut for Markdown is esc+m**

. **Shortcut for Code is esc+y**

.**Shortcut for finding specific code**

# ARITHEMETIC OPERATIONS

In [1]:
# SUM
2+2

4

In [2]:
# SUBTRACTION
4-2

2

In [3]:
# Multiplication
2*2

4

In [4]:
# Divisions
4/2

2.0

In [6]:
# Floor Division
13//2

6

In [8]:
# REMAINDER
13%2

1

In [1]:
# EXPONENT
5**2

25

## COMMENTS

In [3]:
#hash is used to add comments
# but it wont add multiple peras of comment if you want to add multiples
"""
you need to use three comas
this way you can add multiple lines of comments 
these are also used to docstring in function
"""

'\nyou need to use three comas\nthis way you can add multiple lines of comments \nthese are also used to docstring in function\n'

## VARIABLES

In [2]:
student_name="Ashtar"

**=** is assignment operator

In [3]:
student_name

'Ashtar'

**What is a Student name?**

Student name is a variable pointing towards Ashtar

## FUNCTION

Function is a code that execute a specific task and does it well|

## PRINT FUNCTION

Now we are going to use print function to print multiple variables at a time

In [4]:
print("Hello World")

Hello World

In [25]:
# Initating variables
student_name="Ashtar"
age="14"
year="2008"
# print the variable together
print(student_name,age,year)

Ashtar 14 2008

**What is print?**

**Print is a function and input to it are argument**

# Using Sep Argument

In [26]:
print(student_name,age,sep=" age is ")

Ashtar age is 14

# USING END ARGUEMENT

In [27]:
# Without end arguement
print(student_name)
print(age)
print(year)

Ashtar
14
2008

In [29]:
# with end arguement
print(student_name,end=" ")
print(age,end=" ")
print(year)

Ashtar 14 2008

# Help()

In [19]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Def

In [31]:
def sum_1(a,b):
    """
    It takes two numbers and return their sum
    
    """
    return(a+b)

In [35]:
?sum_1

In [36]:
sum_1(2,3)

5

# Time magic function

In [25]:
%time
print("Hellooo")

CPU times: total: 0 ns
Wall time: 0 ns
Hellooo

In [41]:
# %time for i in range(100000): print("bla bla")

# VARIABLES

In [3]:
student_name="Ashtar"

## Checking the memory location/id

In [4]:
id(student_name)

1378533707568

In [5]:
student="Ashtar"

In [6]:
id(student)

1378533707568

In [24]:
sjh="Ashtar"

In [25]:
id(sjh)

1378533707568

## Using Del Function

In [26]:
del(sjh)

In [30]:
#sjh

# Numbers

## Complex numbers

**What are complex numbers?**

**Complex numbers have real and imaginary parts**

In [4]:
# Initializing variables
a = 1
b = 2.3
c = True
d = complex(2,3)
d = 2+3j

## Type functions

In [5]:
type(a)

int

In [5]:
type(b)

float

In [6]:
type(c),type(d)

(bool, complex)

In [7]:
print(type(a),type(b),type(c),type(d), sep=" -- ")

<class 'int'> -- <class 'float'> -- <class 'bool'> -- <class 'complex'>

# Operators

![](s.png)

## 1) = "Assignment operator"

**It is used to assign a value to a variable**

In [8]:
Ashtar ="Ashtar"

**here assign operator is used to assign a string "Ashtar" to "Ashtar"**

## Logical operator

**These operators are used to ,ale decisions based on logic**

### 1) Greater Than>

In [9]:
a = 5 
b = 3

In [10]:
a>b

True

In [11]:
b>a

False

### 2) Less Than<

In [12]:
raheem = 20
ali = 10

In [18]:
print(f"Ali is older than Raheem: {raheem<ali}")

Ali is older than Raheem: False

**Above is the way of printing formaled string**

### 3)Greater than or equal to>=

**greater than or equal to is evaluated true either if both are equal or one is greater than other**

In [22]:
# Condition 1
raheem = 20
ali = 20
print(f"Condition 1 : {raheem >= ali}")

# Condition 2
raheem = 20
ali = 10
print(f"Condition 2 : {raheem>= ali}")

# Condition 3
ali = 20
raheem = 10
print(f"Condition 3 : {raheem>= ali}")

Condition 1 : True
Condition 2 : True
Condition 3 : False

### Less than equal to<=

In [23]:
# Condition 1
raheem = 20
ali = 20
print(f"Condition 1 : {raheem <= ali}")

# Condition 2
raheen = 20
ali = 10
print(f"Condition 2 : {raheem<= ali}")

# Condition 3
ali = 20
raheem = 10
print(f"condition 3 : {raheem<= ali}")

Condition 1 : True
Condition 2 : False
condition 3 : True

### Not equal !=

In [25]:
Raheem = 20
Ali = 10

print(f" Ali and Raheem ages are not equal : {Raheem != Ali}")

 Ali and Raheem ages are not equal : True

# Exercise

In [4]:
# Initiate two variables named Ali and Ajmal
Ali = 20
Ajmal = 30

# Compare Both Variables to check whose age is greater
print(f"Ali is smaller than Ajmal : {Ali<= Ajmal}")

# The greater one should be multiplied by 2 and printed
print(f"The greter one will be multiplied by 2 : {Ajmal* 2}")

Ali is smaller than Ajmal : True
The greter one will be multiplied by 2 : 60

### OR Logic operator

In [4]:
# Prints True if both the condition are met
ali = 10
hashim = 10

print (f"Statement evaluates to : {ali==hashim or ali==hashim}")

# Condition 2
print(f"Statement evaluates to : {ali==hashim or ali != hashim}")

Statement evaluates to : True
Statement evaluates to : True

### AND logical operator

In [7]:
ali = 10
hashim = 10
# Condition 1
print(f"Statement evaluates to : {ali == hashim and ali == hashim}")

# Condition 2 
print(f"Statement evaluates to : {ali == hashim and ali != hashim}")

Statement evaluates to : True
Statement evaluates to : False

### Not logical Operator

In [13]:
ali = 10
hashim = 10
# Condition 1
print (f"Statement evaluate to : {not (hashim != ali)}")
print(f"Statement evaluate to : {not (hashim == ali)}")

Statement evaluate to : True
Statement evaluate to : False

# String

**What is string?**

**String is a collection of characters**

In [2]:
# Initiate a variable with string as input

Ali = "Hi my name is Ali"

print(f" Data type : {type(Ali)} \n Numbers of Characters : {len(Ali)}")

 Data type : <class 'str'>
 Numbers of Characters : 17

In [3]:
# String Indexing

position = 5
print(f"Character at Position \" position \" is :{Ali[position]}")

Character at Position " position " is :

In [10]:
# Initiate a variable string as input 

Ahmad = "Hi my name is Ahmad"

print(f"Data type : {type(Ahmad)} \n Numbers of Character : {len(Ahmad)}")

# String Indexing

position = 6
print(f"Character at Position \" position\" is : {Ahmad[position]}")

Data type : <class 'str'>
 Numbers of Character : 19
Character at Position " position" is : n

# LOOPS

## For loops

In [2]:
st = "Hi Get Me A Burger"
for I in st:
    print(I)

H
i

G
e
t

M
e

A

B
u
r
g
e
r

# Exercise

In [14]:
# Hey there you are a programmer at the natipna; investigations and you got a sipher


sipher = "75jxc5x1x2kh75h"
decripter = {"7":"G",
            "5":"E",
            "j":"T",
            "x":" ",
            "c":"M",
            "1":"A",
            "2":"B",
            "k":"U",
            "h":"R"}
decripted_message = []
for I in sipher:
    decripted_message.append(decripter[I])

In [15]:
decripted_message

['G', 'E', 'T', ' ', 'M', 'E', ' ', 'A', ' ', 'B', 'U', 'R', 'G', 'E', 'R']

# Exercise

In [2]:
# You have a string
str = "I am Ashtar I am a data_scientist"
# Code a for loop that iters through the string above and append it to sparser
sparser = []

str = "I am Ashtar I am a data_scientist"
for I in str:
   sparser.append(I)

In [3]:
sparser

['I',
 ' ',
 'a',
 'm',
 ' ',
 'A',
 's',
 'h',
 't',
 'a',
 'r',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 'a',
 ' ',
 'd',
 'a',
 't',
 'a',
 '_',
 's',
 'c',
 'i',
 'e',
 'n',
 't',
 'i',
 's',
 't']

In [4]:
type(sparser)

list

In [17]:
str_1 = "she is a good girl"
#sliceing "good" out of the string
"""
we have to find the starting and ending position of good and then slice it out

g is at position 11
and the last character"d" is at position 14

the slice will be as follows

str_1[11:14]

remember we have to subract 1 in the position of first character or else it wont print the last character
"""

'\nwe have to find the starting and ending position of good and then slice it out\n\ng is at position 11\nand the last character"d" is at position 14\n\nthe slice will be as follows\n\nstr_1[11:14]\n\nremember we have to subract 1 in the position of first character or else it wont print the last character\n'

# Exercise

In [18]:
str_1[9:13]

'good'

In [19]:
# slice out fatima from the string above 
str_1[0:6]

'she is'

In [20]:
str_2="I am a computer student"


str_2[7:23]

'computer student'

In [27]:
str_3="I study at LGS Lahore"

str_3[11:23]

'LGS Lahore'

In [23]:
str_4="I live in lahore"

str_4[10:16]

'lahore'

In [24]:
student = "hadi"

In [26]:
student[1]

'a'

In [30]:
student[1:3]

'ad'

**What is a strip?**

**Strip removes spaces on the left and right side of the string**

In [21]:
# Initiate  a string
str_1 = "Hola soy Ashtar"

# len()
a = len(str_1)

# lower()
b = str_1.lower()

# upper()
c = str_1.upper()

# Capitalize()
d = str_1.capitalize()

#Strip()
e = str_1.strip()

# Split
f = str_1.split(sep=" ")

# Replace
g = str_1.replace("Hola", "Amigo")

print(a,b,c,d,e,f,g,sep="--")

15--hola soy ashtar--HOLA SOY ASHTAR--Hola soy ashtar--Hola soy Ashtar--['Hola', 'soy', 'Ashtar']--Amigo soy Ashtar

## Using in to find characters in string

In [22]:
"h" in str_1

True

**it returns True if h is present in the string str_1**

# List

**What is List?**

**List is a collection of data enclose in square brackets [1,"Ashtar","@",2]**

## Initiating a List

In [2]:
list_1 = [1,"Ashtar","@",2]

## Accessing elements in a List

In [3]:
print(f"First: {list_1[0]},Second: {list_1[1]}")

First: 1,Second: Ashtar

## List in List

In [4]:
list_2 = [1,2,list_1]

In [5]:
print(list_2)

[1, 2, [1, 'Ashtar', '@', 2]]

## Accessing elements in a list within a list

In [6]:
list_2[2][0]

1

In [1]:
list_1 = [1,2,3,"Salim","hadi"]

## Append Function

In [2]:
# Append function in lists
list_1.append(0)
print(list_1)

[1, 2, 3, 'Salim', 'hadi', 0]

**Append function is used to add an element to enf of a list**

**Function : function is a tool that is used to do something
Here append function is used to add something in a list**

In [3]:
# Clear Function
list_1.clear()

**Clear Function clears all elements in a list**

In [4]:
list_1

[]

## Shallow Copy

In [5]:
# Initiating list_1 again as all the elements are clear
list_1 = [1,2,3,"Salim","hadi"]

In [6]:
# Copy function
list_2 = list_1.copy()

In [7]:
print(list_2)

[1, 2, 3, 'Salim', 'hadi']

In [8]:
print(list_1)

[1, 2, 3, 'Salim', 'hadi']

In [10]:
list_2.append(0)

In [11]:
print(list_2),(list_1)

[1, 2, 3, 'Salim', 'hadi', 0, 0]

(None, [1, 2, 3, 'Salim', 'hadi'])

**It Creates shalow copy of list**

## Deep Copy

In [14]:
list_3 = list_1
print(list_3)

[1, 2, 3, 'Salim', 'hadi']

In [15]:
print(list_1)

[1, 2, 3, 'Salim', 'hadi']

In [16]:
list_3.append(0)
print(list_3)

[1, 2, 3, 'Salim', 'hadi', 0]

In [17]:
print(list_1)

[1, 2, 3, 'Salim', 'hadi', 0]

**Wow this is called deep copy**

In [20]:
# Count Functions
list_1.count(1)

1

## Count

**It will count how many times the argument occurs
Argument : The input given to function is called an argument**

In [1]:
list_4 = [1,2,3,1]
list_4.count(1)

2

**1 occurs 2 times**

## Reverse

In [10]:
# Using reverse function of list
list_4.reverse()
print(list_4)

[1, 3, 2, 1]

**It reverse the arrangment of elements in a list**

## Pop function

In [11]:
# Using pop function
list_4.pop(0)

1

**It pops out the element at position given .pop(0) It will pop out element at position 0**

In [12]:
list_4

[3, 2, 1]

# Revising list within list

In [13]:
list_1 = [1,2,3]
list_1[0]

1

# Exercise

In [15]:
# Retrive second element of list_1
list_1[1]

2

# List in List Revising

In [16]:
list_2 = [1,2,list_1]

In [17]:
list_2

[1, 2, [1, 2, 3]]

In [18]:
list_2[2][0]

1

# Exercise

In [21]:
list_2[2][1]

2

# Exercise

In [7]:
# Print the last element of list_1 in list_2 using indexing

list_2[2][3]

2

# list Indexing

In [23]:
list_1 = [1,2,3,4]
list_1[1:3]

[2, 3]

# Exercise

In [27]:
# Slice out 2 to 4
list_1[2:4]

[3, 4]

# Min function

In [28]:
# min function
min(list_1)

1

# Max function

In [29]:
# Max function
max(list_1)

4

# Sets

**Initilize a set**

In [23]:
set_1 = {1,2,3,4,5}

**Set is a collection of data enclosed in flower brackets**

## Accesing elements in a Set

In [24]:
# Position 0
print(set_1[0])

# Position 1
print(set_1[1])

# Position 2
print(set_1[2])

# Position 3
print(set_1[3])

# Position 4
print(set_1[4])

TypeError: 'set' object is not subscriptable

## Using intersection function of sets

In [25]:
set_2 = {2,3,6,7,8}

In [26]:
set_1.intersection(set_2)

{2, 3}

## Using issubset function

In [28]:
set_3 = {1,2}
set_3.issubset(set_1)

True

## Function difference of the sets

In [29]:
set_1.difference(set_3)

{3, 4, 5}

# Exercise

**You are working as a data scientist in a firm you got two sets of data of their purchases conducted on Tuesday and Wednesday**

In [31]:
data_Tuesday = {"Car","Buldozer","Milk"}
data_Wednesday = {"Car","Flowers","Books"}

Find the common prducts selled

Find the unique products sold on Tuesday

Find the unique products sold on Wednesday

In [33]:
data_Tuesday.intersection(data_Wednesday)

{'Car'}

In [34]:
data_Tuesday.difference(data_Wednesday)

{'Buldozer', 'Milk'}

In [35]:
data_Wednesday.difference(data_Tuesday)

{'Books', 'Flowers'}

# Dictionaries

**Are dictionaries mutable or not?**

**Dictionaries are mutable whereas strings are not mutable (means we can modify the elements)**

In [11]:
# Dictionaries
dict_1= {
    "ali":2*3,
    "basit":0,
    "salim":1000,
    "hadi":"u"
}

In [12]:
dict_1["ali"]

6

In [13]:
dict_1["hadi"]

'u'

In [15]:
dict_1["ali"]*dict_1["salim"]

6000

In [16]:
dict_1["ali"]/dict_1["salim"]

0.006

In [17]:
dict_1["ali"]//dict_1["salim"]

0

In [18]:
dict_1["ali"]**dict_1["salim"]

14166102623834861723796252524915224416640471830910191322323547432140618947596486436347661333869287260068907949302029484915942402681211620694598046617844295512220793103312980549591537160959053027940624117598003417503015722697428176155600362263128567590299511776686592862074376328232990325101248680123776914576482815095784568122986221890411837737570098864613342090972756469661488216176894465388028416768338495326989675118087222767384596111351304957869025273802978281783731929966468210579229830069556698928937342508988340792335737744719376598506908977135291983117722648269177947154657697517074993441515526839887073400191797445153760221695723268255006134044062503100710134200414607696976757837002911389023284338696251543694980946202137938610119300450795091488653253649628649410789376

In [19]:
dict_1["ali"]%dict_1["salim"]

6

## Retrieving values from a dictionary

In [23]:
marks = {"ALI":23,"Ajmal":45}
name = input("Enter the name")
marks[name]/50*100

Enter the nameALI

46.0

dictionary is a collection of keys and values enclosed in {}

# Revising

In [4]:
dict_1 = {"salim":2,
         1:23}

In [5]:
dict_1["salim"]

2

In [7]:
dict_1[1]

23

In [25]:
tsipher = "7nedw4e5ns4s734r"
decripter = {"7":"H",t
            "n":"I",
            "e":"M",
            "d":"Y",
            "w":"N",
            "4":"A",
            "s":"S",
            "3":"T",
            "r":"R",
            "5":"E"}
decripted_message = []
for I in sipher:
    decripted_message.append(decripter[I])

In [26]:
decripted_message

['H',
 'I',
 'M',
 'Y',
 'N',
 'A',
 'M',
 'E',
 'I',
 'S',
 'A',
 'S',
 'H',
 'T',
 'A',
 'R']

In [27]:
print(decripted_message,end=" ")

['H', 'I', 'M', 'Y', 'N', 'A', 'M', 'E', 'I', 'S', 'A', 'S', 'H', 'T', 'A', 'R']

In [53]:
sipher = "2e34568"
decripter = {"2":"H",
             "e":"I",
             "3":"W",
             "4":"O",
             "5":"R",
             "6":"L",
             "8":"D"}
decripted_message = []
for I in sipher:
    decripted_message.append(decripter[I])

In [54]:
decripted_message

['H', 'I', 'W', 'O', 'R', 'L', 'D']

In [58]:
# Sets 
set_1 = {1,2,3,4,5}
set_2 = {5,6,7,8}

In [59]:
set_1.intersection(set_2)

{5}

In [66]:
set_3 = {1,2,3,4}
set_4 = {1,2,3,4,5}

In [61]:
set_3.intersection(set_4)

{2, 3, 4}

In [62]:
set_1.difference(set_2)

{1, 2, 3, 4}

In [63]:
set_3.difference(set_4)

{1}

In [67]:
set_3.issubset(set_4)

True

# Tuples

In [3]:
tuple_1 = (1,2,3)
type(tuple_1)

tuple

**Tuples are collection of data enclosed in parenthesis**

In [4]:
tuple_1

(1, 2, 3)

In [5]:
tuple_1[0]

1

In [7]:
# Try to modify element at position 1
# typle_1[0] = 2

**The above code will show an error beacuse tuple are immutable means the tuples cannot be modified**

# Selection Structure

In [8]:
# if else
a = 18
if a>25:
    print("your age is greater than 15")
else:
    print("your age is less than 15")

your age is less than 15

"""

What does the above code do?

ANS:

The above code helps us to execute a specific piece of code

if a condition is met

In the above piece of code we initiate a variable "a" and stored 18 in it

Next we use the if statement to check wether a is greater than 15

If a is greater than 15 (if a > 15 :) it will execute the line indented

if a> 15:

---> the line executed if a > 15 is --> print("age is greater than 15")

if the condition above isnt valid e.g if is less than 15 it will execute

code in else

else:

--> it will execute this statement --> print("age is less than 15")

"""

**Errors that can be caused in the above statement**

if a > 15

print("age is greater than 15")

if a>15:
    
    print("age is greater than 15")
    
    else:
        
        print("age is greater than")

**here we have else statement inside the if statement that will cause**

# Exercise

In [12]:
# write a program that adds two numbers if they are not equal

In [20]:
a = 15
b = 18
if a != b:
    print(15+18)
else:
    print(15-18)

33