# Introduction To Python

## Questions

**What is a programming language?**

Programming language is used to communicate with the computer

**What is an IDE?**

IDE stands for interactive development environment.It provides an environment to develop programs

**What IDE we are using?**

We are using jupyter notebook

**What is a compiler and interpriter?**

A compiler is a translator which translate the whole program at once and a interpriter is a translator which translate one line of code at once

## My first code

In [5]:
print("Hello World")

Hello World

# Different types of Data type

**What are data types?**

Data types are the catagories of knowledge

**What is knowledge?**

Data input to the computer is knowledge for it.And it divides it into different catagories

**Name the Data type in Python?**

Int,Float

Str

List,tuple

dict

bool

# Shortcut Keys

. **Shortcut for Markdown is esc+m**

. **Shortcut for Code is esc+y**

.**Shortcut for finding specific code**

# ARITHEMETIC OPERATIONS

In [1]:
# SUM
2+2

4

In [2]:
# SUBTRACTION
4-2

2

In [3]:
# Multiplication
2*2

4

In [4]:
# Divisions
4/2

2.0

In [6]:
# Floor Division
13//2

6

In [8]:
# REMAINDER
13%2

1

In [1]:
# EXPONENT
5**2

25

## COMMENTS

In [3]:
#hash is used to add comments
# but it wont add multiple peras of comment if you want to add multiples
"""
you need to use three comas
this way you can add multiple lines of comments 
these are also used to docstring in function
"""

'\nyou need to use three comas\nthis way you can add multiple lines of comments \nthese are also used to docstring in function\n'

## VARIABLES

In [2]:
student_name="Ashtar"

**=** is assignment operator

In [3]:
student_name

'Ashtar'

**What is a Student name?**

Student name is a variable pointing towards Ashtar

## FUNCTION

Function is a code that execute a specific task and does it well|

## PRINT FUNCTION

Now we are going to use print function to print multiple variables at a time

In [4]:
print("Hello World")

Hello World

In [5]:
# Initating variables
student_name="Ashtar"
age="14"
year="2008"
# print the variable together
print(student_name,age,year)

Ashtar 14 2008

print is a function and input to it are argument

# Using Sep Argument

In [17]:
print(student_name,age,sep=" age is ")

Ashtar age is 14

## USING END ARGUEMENT

In [6]:
# Without end arguement
print(student_name)
print(age)
print(year)

Ashtar
14
2008

In [13]:
# with end arguement
print(student_name,end=" ")
print(age,end=" ")
print(year)

Ashtar 14 2008

# Help()

In [19]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
def sum_1(a,b):
    """
    It takes two numbers and return their sum
    
    """
    return(a+b)

In [3]:
?sum_1

# Time magic function

In [25]:
%time
print("Hellooo")

CPU times: total: 0 ns
Wall time: 0 ns
Hellooo

In [43]:
# %time for i in range(1000): print("bla bla")

# VARIABLES

In [3]:
student_name="Ashtar"

## Checking the memory location/id

In [4]:
id(student_name)

1378533707568

In [5]:
student="Ashtar"

In [6]:
id(student)

1378533707568

In [24]:
sjh="Ashtar"

In [25]:
id(sjh)

1378533707568

## Using Del Function

In [26]:
del(sjh)

In [30]:
#sjh

# Numbers

## Complex numbers

**Complex numbers have real and imaginary parts**

In [4]:
# Initializing variables
a = 1
b = 2.3
c = True
d = complex(2,3)
d = 2+3j

## Type functions

In [5]:
type(a)

int

In [5]:
type(b)

float

In [6]:
type(c),type(d)

(bool, complex)

In [7]:
print(type(a),type(b),type(c),type(d), sep=" -- ")

<class 'int'> -- <class 'float'> -- <class 'bool'> -- <class 'complex'>

# Operators

![](s.png)

## 1) = "Assignment operator"

**It is used to assign a value to a variable**

In [8]:
Ashtar ="Ashtar"

**here assign operator is used to assign a string "Ashtar" to "Ashtar"**

## Logical operator

**These operators are used to ,ale decisions based on logic**

### 1) Greater Than>

In [9]:
a = 5 
b = 3

In [10]:
a>b

True

In [11]:
b>a

False

### 2) Less Than<

In [12]:
raheem = 20
ali = 10

In [18]:
print(f"Ali is older than Raheem: {raheem<ali}")

Ali is older than Raheem: False

**Above is the way of printing formaled string**

### 3)Greater than or equal to>=

**greater than or equal to is evaluated true either if both are equal or one is greater than other**

In [22]:
# Condition 1
raheem = 20
ali = 20
print(f"Condition 1 : {raheem >= ali}")

# Condition 2
raheem = 20
ali = 10
print(f"Condition 2 : {raheem>= ali}")

# Condition 3
ali = 20
raheem = 10
print(f"Condition 3 : {raheem>= ali}")

Condition 1 : True
Condition 2 : True
Condition 3 : False

### Less than equal to<=

In [23]:
# Condition 1
raheem = 20
ali = 20
print(f"Condition 1 : {raheem <= ali}")

# Condition 2
raheen = 20
ali = 10
print(f"Condition 2 : {raheem<= ali}")

# Condition 3
ali = 20
raheem = 10
print(f"condition 3 : {raheem<= ali}")

Condition 1 : True
Condition 2 : False
condition 3 : True

### Not equal !=

In [25]:
Raheem = 20
Ali = 10

print(f" Ali and Raheem ages are not equal : {Raheem != Ali}")

 Ali and Raheem ages are not equal : True

# Exercise

In [4]:
# Initiate two variables named Ali and Ajmal
Ali = 20
Ajmal = 30

# Compare Both Variables to check whose age is greater
print(f"Ali is smaller than Ajmal : {Ali<= Ajmal}")

# The greater one should be multiplied by 2 and printed
print(f"The greter one will be multiplied by 2 : {Ajmal* 2}")

Ali is smaller than Ajmal : True
The greter one will be multiplied by 2 : 60

### OR Logic operator

In [4]:
# Prints True if both the condition are met
ali = 10
hashim = 10

print (f"Statement evaluates to : {ali==hashim or ali==hashim}")

# Condition 2
print(f"Statement evaluates to : {ali==hashim or ali != hashim}")

Statement evaluates to : True
Statement evaluates to : True

### AND logical operator

In [7]:
ali = 10
hashim = 10
# Condition 1
print(f"Statement evaluates to : {ali == hashim and ali == hashim}")

# Condition 2 
print(f"Statement evaluates to : {ali == hashim and ali != hashim}")

Statement evaluates to : True
Statement evaluates to : False

### Not logical Operatoe

In [13]:
ali = 10
hashim = 10
# Condition 1
print (f"Statement evaluate to : {not (hashim != ali)}")
print(f"Statement evaluate to : {not (hashim == ali)}")

Statement evaluate to : True
Statement evaluate to : False

# String

**What is string?**

**String is a collection of characters**

In [2]:
# Initiate a variable with string as input

Ali = "Hi my name is Ali"

print(f" Data type : {type(Ali)} \n Numbers of Characters : {len(Ali)}")

 Data type : <class 'str'>
 Numbers of Characters : 17

In [3]:
# String Indexing

position = 5
print(f"Character at Position \" position \" is :{Ali[position]}")

Character at Position " position " is :

In [10]:
# Initiate a variable string as input 

Ahmad = "Hi my name is Ahmad"

print(f"Data type : {type(Ahmad)} \n Numbers of Character : {len(Ahmad)}")

# String Indexing

position = 6
print(f"Character at Position \" position\" is : {Ahmad[position]}")

Data type : <class 'str'>
 Numbers of Character : 19
Character at Position " position" is : n

# LOOPS

## For loops

In [2]:
st = "Hi Get Me A Burger"
for I in st:
    print(I)

H
i

G
e
t

M
e

A

B
u
r
g
e
r

# Exercise

In [14]:
# Hey there you are a programmer at the natipna; investigations and you got a sipher


sipher = "75jxc5x1x2kh75h"
decripter = {"7":"G",
            "5":"E",
            "j":"T",
            "x":" ",
            "c":"M",
            "1":"A",
            "2":"B",
            "k":"U",
            "h":"R"}
decripted_message = []
for I in sipher:
    decripted_message.append(decripter[I])

In [15]:
decripted_message

['G', 'E', 'T', ' ', 'M', 'E', ' ', 'A', ' ', 'B', 'U', 'R', 'G', 'E', 'R']

# Exercise

In [2]:
# You have a string
str = "I am Ashtar I am a data_scientist"
# Code a for loop that iters through the string above and append it to sparser
sparser = []

str = "I am Ashtar I am a data_scientist"
for I in str:
   sparser.append(I)

In [3]:
sparser

['I',
 ' ',
 'a',
 'm',
 ' ',
 'A',
 's',
 'h',
 't',
 'a',
 'r',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 'a',
 ' ',
 'd',
 'a',
 't',
 'a',
 '_',
 's',
 'c',
 'i',
 'e',
 'n',
 't',
 'i',
 's',
 't']

In [4]:
type(sparser)

list

In [17]:
str_1 = "she is a good girl"
#sliceing "good" out of the string
"""
we have to find the starting and ending position of good and then slice it out

g is at position 11
and the last character"d" is at position 14

the slice will be as follows

str_1[11:14]

remember we have to subract 1 in the position of first character or else it wont print the last character
"""

'\nwe have to find the starting and ending position of good and then slice it out\n\ng is at position 11\nand the last character"d" is at position 14\n\nthe slice will be as follows\n\nstr_1[11:14]\n\nremember we have to subract 1 in the position of first character or else it wont print the last character\n'

# Exercise

In [18]:
str_1[9:13]

'good'

In [19]:
# slice out fatima from the string above 
str_1[0:6]

'she is'

In [20]:
str_2="I am a computer student"


str_2[7:23]

'computer student'

In [27]:
str_3="I study at LGS Lahore"

str_3[11:23]

'LGS Lahore'

In [23]:
str_4="I live in lahore"

str_4[10:16]

'lahore'

In [24]:
student = "hadi"

In [26]:
student[1]

'a'

In [30]:
student[1:3]

'ad'