In [1]:
for i in range (10):
    e=i/2
    if type(e) != float:
        print(i)

In [2]:
i=2.5
type(i) == float

True

# Project_1
we got an exel file from our client name hadi
subject wanted a python scrip that returns the represented records from the excel database

**What we will be doing:**

1) Making sure that Book1.xlms file is present int the directory our intro to python notebook

2) We will load in the data using pandas dataframe

3) We will analyze the data

4) We write code to fetch the specific records

5) We will export the results.xlms file for the client

:) lets code

## Importing the required libraries

In [7]:
pip install numpy

Collecting numpy
  Downloading numpy-1.24.1-cp310-cp310-win_amd64.whl (14.8 MB)
     -------------------------------------- 14.8/14.8 MB 703.2 kB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-1.24.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in d:\environment\lib\site-packages (1.5.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pytz>=2020.1 in d:\environment\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in d:\environment\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\environment\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\environment\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd #importing pandas library with a subsitute name pd

import numpy as np #importing numpy library with subsitute name np

In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in d:\environment\lib\site-packages (3.1.0)
Requirement already satisfied: et-xmlfile in d:\environment\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
x = pd.read_excel("Book1.xlsx")

In [8]:
x

  Carers  MATCHES   INNINGS   RUNS   AVERAGE      SR  50s:  100s:  BEST
0   TEST        3          5    304     60.80   93.0     4      0    99
1    ODI       48         48   4244     88.40  118.3    20     21   225
2    T20       51         51   2781     55.32  147.0    17      4   123
3   TEST        4          5      6      7.00    8.0     9      2     3

In [8]:
x.t

0    TEST
1     ODI
2     T20
3    TEST
Name: Carers, dtype: object

In [11]:
x["50s:"]

0     4
1    20
2    17
3     9
Name: 50s:, dtype: int64

In [16]:
y = input("String containing Carers in capital")

String containing Carers in capitalTEST

In [17]:
y

'TEST'

In [18]:
output = pd.DataFrame(x[x.Carers==y])

In [19]:
output

  Carers  MATCHES   INNINGS   RUNS   AVERAGE     SR  50s:  100s:  BEST
0   TEST        3          5    304      60.8  93.0     4      0    99
3   TEST        4          5      6       7.0   8.0     9      2     3

In [13]:
l = input("String containing INNINGS in 5")

String containing INNINGS in 55

In [21]:
l

'5'

In [18]:
x.columns

Index(['Carers', 'MATCHES', ' INNINGS ', 'RUNS ', 'AVERAGE ', 'SR', '50s:',
       '100s:', 'BEST'],
      dtype='object')

In [19]:
r = pd.DataFrame(x[x[" INNINGS "]==int(l)])

In [20]:
r

  Carers  MATCHES   INNINGS   RUNS   AVERAGE     SR  50s:  100s:  BEST
0   TEST        3          5    304      60.8  93.0     4      0    99
3   TEST        4          5      6       7.0   8.0     9      2     3

 #   We are going to create a script of the above project that willl take the input from the user extract the data from the data base and store it into the output excel file

In [ ]:
import pandas as pd
import numpy as np

data = pd.read_excel("Book1.xlsx")
z=True
while z == True:
    y = input("Please enter the carrer in capital")

    list_1 = ["TEST","T20","ODI"]

    if input == list_1:
        output = pd.DataFrame(data[data.Carers == y])
        output.to_excel("output.xlsx")
        z=False

Please enter the carrer in capitaldd
Please enter the carrer in capitalTEST